# WeRateDogs Analysis
## 1. Gather Data

In [15]:
import requests
import pandas as pd
import io
import tweepy
import json

### 1.1 WeRateDogs archive

In [168]:
twitter_archive_df = pd.read_csv('../data/twitter-archive-enhanced.csv')

In [169]:
twitter_archive_df.head(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None

In [170]:
twitter_archive_df.shape

(2356, 17)

### 1.2 Dog breed prediction

In [251]:
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [252]:
r.status_code

200

In [253]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [254]:
raw_data = r.content

In [255]:
prediction_df = pd.read_csv(io.StringIO(raw_data.decode('utf-8')), sep='\t')
prediction_df.tail(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

### 1.3 Twitter like and retweet counts

In [ ]:
consumer_key = 'XXXXXX'
consumer_secret = 'XXXXXX'
access_token ='XXXXXX'
access_token_secret = 'XXXXXX'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
#tweet_id = 666020888022790149
tweets = []
for tweet_id in list(twitter_archive_df['tweet_id']):
    try:
        tweet = api.get_status(tweet_id) #, tweet_mode='extended')
        #json_str = json.dumps(tweet._json)
        tweets.append(tweet)
    except tweepy.TweepError as e:
        print(e.response.text)

In [81]:
len(tweets)

2337

In [84]:
my_list_of_dicts = []
for each_json_tweet in tweets:
    my_list_of_dicts.append(each_json_tweet._json)

In [85]:
with open('tweet_dogs.txt', 'w') as file:
        file.write(json.dumps(my_list_of_dicts, indent=4))

In [89]:
len(all_data)

2337

In [92]:
my_demo_list = []
with open('tweet_dogs.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        text = each_dictionary['text']
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        my_demo_list.append({'tweet_id': str(tweet_id),
                             'text': str(text),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'created_at': created_at,
                            })
    tweet_json = pd.DataFrame(my_demo_list, columns = 
                                  ['tweet_id', 'text', 
                                   'favorite_count', 'retweet_count', 
                                   'created_at'])

In [93]:
tweet_json.shape

(2337, 5)

In [109]:
tweet_json.head()

,tweet_id,text,favorite_count,retweet_count,created_at
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,37594,8199,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,This is Tilly. She's just checking pup on you....,32314,6062,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,40937,8358,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,This is Franklin. He would like you to stop ca...,39128,9051,Sat Jul 29 16:00:24 +0000 2017

In [96]:
tweet_json.to_csv('../data/tweet_dogs.csv', index=False)

In [281]:
# read tweet_dogs.csv
tweets_df = pd.read_csv('../data/tweet_dogs.csv')
tweets_df.head(20)

,tweet_id,text,favorite_count,retweet_count,created_at
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,37594,8199,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,This is Tilly. She's just checking pup on you....,32314,6062,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,40937,8358,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,This is Franklin. He would like you to stop ca...,39128,9051,Sat Jul 29 16:00:24 +0000 2017
5,891087950875897856,Here we have a majestic great white breaching ...,19681,3006,Sat Jul 29 00:08:17 +0000 2017
6,890971913173991426,Meet Jax. He enjoys ice cream so much he gets ...,11501,1985,Fri Jul 28 16:27:12 +0000 2017
7,890729181411237888,When you watch your owner call another dog a g...,63438,18215,Fri Jul 28 00:22:40 +0000 2017
8,890609185150312448,This is Zoey. She doesn't want to be one of th...,27063,4123,Thu Jul 27 16:25:51 +0000 2017
9,890240255349198849,This is Cassie. She is a college pup. Studying...,31002,7122,Wed Jul 26 15:59:51 +0000 2017
10,890006608113172480,This is Koda. He is a South Australian decksha...,29817,7079,Wed Jul 26 00:31:25 +0000 2017
11,889880896479866881,This is Bruno. He is a service shark. Only get...,27037,4811,Tue Jul 25 16:11:53 +0000 2017
12,889665388333682689,Here's a puppo that seems to be on the fence a...,46748,9694,Tue Jul 25 01:55:32 +0000 2017
13,889638837579907072,This is Ted. He does his best. Sometimes that'...,26361,4380,Tue Jul 25 00:10:02 +0000 2017
14,889531135344209921,This is Stuart. He's sporting his favorite fan...,14702,2173,Mon Jul 24 17:02:04 +0000 2017
15,889278841981685760,This is Oliver. You're witnessing one of his m...,24543,5198,Mon Jul 24 00:19:32 +0000 2017
16,888917238123831296,This is Jim. He found a fren. Taught him how t...,28316,4349,Sun Jul 23 00:22:39 +0000 2017
17,888804989199671297,This is Zeke. He has a new stick. Very proud o...,24839,4132,Sat Jul 22 16:56:37 +0000 2017
18,888554962724278272,This is Ralphus. He's powering up. Attempting ...,19274,3416,Sat Jul 22 00:23:06 +0000 2017
19,888078434458587136,This is Gerald. He was just told he didn't get...,21153,3364,Thu Jul 20 16:49:33 +0000 2017

In [179]:
tweets_df.shape

(2337, 5)

In [180]:
tweets_df.tweet_id.nunique()

2337

## 2. Tidying + Cleaning

### Cleaning 
- convert timestamp and created_at columns to datetime
- convert doggo, floofer, pupper and puppo columns to bool
- remove retreats (tweets without images)
- reomving tweets without dog name
- remove tweets with retweet id
- remove rows where rating_denominator != 10
- remove when p1_dog (and p2 ?) is False in third df
- remove newer than August 1st, 2017.



### Tidying
- inner join on tweet_id (keep only tweets where data is available in all 3 dfs)
- take ranking from first df
- take name in from first df
- Extract image from second df
- take retreat count from third df
- take favorite count from third df
- take jpg_url from second df
- take all 3 predictions and confidence values from third df

### 2.1 Cleaning

The cleaning step is chosen first, to see more dirty data in single dataframes before joining all three dataframes. Usually Tidying would be the first step.

In [471]:
twitter_archive_df_cleaned = twitter_archive_df.copy()
prediction_df_cleaned = prediction_df.copy()
tweets_df_cleaned = tweets_df.copy()

In [472]:
twitter_archive_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [473]:
prediction_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [474]:
tweets_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 5 columns):
tweet_id          2337 non-null int64
text              2337 non-null object
favorite_count    2337 non-null int64
retweet_count     2337 non-null int64
created_at        2337 non-null object
dtypes: int64(3), object(2)
memory usage: 91.4+ KB

In [475]:
# convert date columns to datetime
twitter_archive_df_cleaned['timestamp'] = pd.to_datetime(twitter_archive_df_cleaned['timestamp'])
tweets_df_cleaned['created_at'] = pd.to_datetime(tweets_df_cleaned['created_at'])
print(type(twitter_archive_df_cleaned['timestamp'][0]), type(tweets_df_cleaned['created_at'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'> <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [476]:
# doggo, floofer, pupper and puppo columns to bool
#twitter_archive_df_cleaned['puppo'].unique() # to explore
twitter_archive_df_cleaned['doggo'].replace({'doggo': True, 'None': False}, inplace=True)
twitter_archive_df_cleaned['floofer'].replace({'floofer': True, 'None': False}, inplace=True)
twitter_archive_df_cleaned['pupper'].replace({'pupper': True, 'None': False}, inplace=True)
twitter_archive_df_cleaned['puppo'].replace({'puppo': True, 'None': False}, inplace=True)

print(twitter_archive_df_cleaned['doggo'].unique()) # to test
print(twitter_archive_df_cleaned['floofer'].unique()) # to test
print(twitter_archive_df_cleaned['pupper'].unique()) # to test
print(twitter_archive_df_cleaned['puppo'].unique()) # to test

[False  True]
[False  True]
[False  True]
[False  True]

In [477]:
# tweets without image url are no original rating
#print(twitter_archive_df[twitter_archive_df['expanded_urls'].isnull()]) # for exploration
twitter_archive_df_cleaned = twitter_archive_df_cleaned.dropna(axis=0, subset=['expanded_urls'])

print("Dropped ", twitter_archive_df.shape[0]-twitter_archive_df_cleaned.shape[0], " due to non-original rating tweets.")

Dropped  59  due to non-original rating tweets.

In [478]:
# rating weets without dog name
#twitter_archive_df[twitter_archive_df['name'] == "None"].shape[0] # to explore
twitter_archive_df_cleaned = twitter_archive_df[twitter_archive_df['name'] != "None"]
print("Dropped ", twitter_archive_df.shape[0]-twitter_archive_df_cleaned.shape[0], " due to unknown dog name.")

Dropped  745  due to unknown dog name.

In [479]:
# remove tweets with retweeted_status_id
#twitter_archive_df[~twitter_archive_df['retweeted_status_id'].isnull()] # for exploration
rows_before = twitter_archive_df_cleaned.shape[0]
twitter_archive_df_cleaned = twitter_archive_df_cleaned[twitter_archive_df_cleaned['retweeted_status_id'].isnull()]
print("Dropped ", rows_before-twitter_archive_df_cleaned.shape[0], " due to re-tweets.")

Dropped  116  due to re-tweets.

In [480]:
# no valid rating
#twitter_archive_df_cleaned[twitter_archive_df_cleaned.rating_denominator!= 10] # for exploration
rows_before = twitter_archive_df_cleaned.shape[0]
twitter_archive_df_cleaned = twitter_archive_df_cleaned[twitter_archive_df_cleaned.rating_denominator== 10] 
print("Dropped ", rows_before-twitter_archive_df_cleaned.shape[0], " due to invalid rating denominator.")

Dropped  6  due to invalid rating denominator.

In [481]:
#prediction_df_cleaned[prediction_df.p1_dog == False] # for exploration
rows_before = prediction_df_cleaned.shape[0]
prediction_df_cleaned = prediction_df_cleaned[prediction_df.p1_dog == True]
print("Dropped ", rows_before-prediction_df_cleaned.shape[0], " due to no-dog prediction.")

Dropped  543  due to no-dog prediction.

In [482]:
# drop all newer than August 1st 2017
#tweets_df_cleaned[tweets_df_cleaned.created_at > '2017-08-01'] # to explore
rows_before = tweets_df_cleaned.shape[0]
tweets_df_cleaned = tweets_df_cleaned[tweets_df_cleaned.created_at < '2017-08-01']
print("Dropped ", rows_before-tweets_df_cleaned.shape[0], " due to date limit")
rows_before = twitter_archive_df_cleaned.shape[0]
twitter_archive_df_cleaned = twitter_archive_df_cleaned[twitter_archive_df_cleaned.timestamp < '2017-08-01']
print("Dropped ", rows_before-twitter_archive_df_cleaned.shape[0], " due to date limit")

Dropped  2  due to date limit
Dropped  2  due to date limit

### 2.2 Tidying

In [483]:
print("rows of twitter_archive_df_cleaned: ", twitter_archive_df_cleaned.shape[0])
print("rows of prediction_df_cleaned: ", prediction_df_cleaned.shape[0])
print("rows of tweets_df_cleaned: ", tweets_df_cleaned.shape[0])

rows of twitter_archive_df_cleaned:  1487
rows of prediction_df_cleaned:  1532
rows of tweets_df_cleaned:  2335

In [484]:
print("columns of twitter_archive_df_cleaned: ", twitter_archive_df_cleaned.shape[1])
print("columns of prediction_df_cleaned: ", prediction_df_cleaned.shape[1])
print("columns of tweets_df_cleaned: ", tweets_df_cleaned.shape[1])

columns of twitter_archive_df_cleaned:  17
columns of prediction_df_cleaned:  12
columns of tweets_df_cleaned:  5

In [485]:
# join twitter_archive_df_cleaned and prediction_df_cleaned
joined_df = twitter_archive_df_cleaned.join(prediction_df_cleaned.set_index('tweet_id'), on='tweet_id', how='inner')

In [486]:
joined_df.shape

(1109, 28)

In [487]:
# join also with tweets_df_cleaned
joined_df = joined_df.join(tweets_df_cleaned.set_index('tweet_id'), on='tweet_id', how='inner', lsuffix='', rsuffix='_otweet')

In [488]:
joined_df.shape

(1105, 32)

In [489]:
joined_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,text_otweet,favorite_count,retweet_count,created_at
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,malamute,0.078253,True,kelpie,0.031379,True,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,2017-07-31 00:18:03+00:00
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,This is Franklin. He would like you to stop ca...,39128,9051,2017-07-29 16:00:24+00:00

In [490]:
# check if timestamps are all the same after joining
joined_df[joined_df['timestamp'] == joined_df['created_at']]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, text_otweet, favorite_count, retweet_count, created_at]
Index: []

[0 rows x 32 columns]

In [491]:
#joined_df[joined_df['jpg_url'] == joined_df['expanded_urls']] # for exploration

In [492]:
# remove needless columns
joined_df.drop(columns=['created_at', 'in_reply_to_status_id', 'in_reply_to_user_id', 'source', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'text_otweet', 'expanded_urls'], inplace=True)

In [493]:
joined_df

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,favorite_count,retweet_count
2,891815181378084864,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,...,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,24351,4010
4,891327558926688256,2017-07-29 16:00:24 +0000,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,...,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,39128,9051
6,890971913173991426,2017-07-28 16:27:12 +0000,Meet Jax. He enjoys ice cream so much he gets ...,13,10,Jax,None,None,None,None,...,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False,11501,1985
8,890609185150312448,2017-07-27 16:25:51 +0000,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,None,None,None,...,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True,27063,4123
9,890240255349198849,2017-07-26 15:59:51 +0000,This is Cassie. She is a college pup. Studying...,14,10,Cassie,doggo,None,None,None,...,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True,31002,7122
10,890006608113172480,2017-07-26 00:31:25 +0000,This is Koda. He is a South Australian decksha...,13,10,Koda,None,None,None,None,...,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True,29817,7079
11,889880896479866881,2017-07-25 16:11:53 +0000,This is Bruno. He is a service shark. Only get...,13,10,Bruno,None,None,None,None,...,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False,27037,4811
13,889638837579907072,2017-07-25 00:10:02 +0000,This is Ted. He does his best. Sometimes that'...,12,10,Ted,None,None,None,None,...,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True,26361,4380
14,889531135344209921,2017-07-24 17:02:04 +0000,This is Stuart. He's sporting his favorite fan...,13,10,Stuart,None,None,None,puppo,...,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True,14702,2173
15,889278841981685760,2017-07-24 00:19:32 +0000,This is Oliver. You're witnessing one of his m...,13,10,Oliver,None,None,None,None,...,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True,24543,5198
16,888917238123831296,2017-07-23 00:22:39 +0000,This is Jim. He found a fren. Taught him how t...,12,10,Jim,None,None,None,None,...,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True,28316,4349
17,888804989199671297,2017-07-22 16:56:37 +0000,This is Zeke. He has a new stick. Very proud o...,13,10,Zeke,None,None,None,None,...,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True,24839,4132
18,888554962724278272,2017-07-22 00:23:06 +0000,This is Ralphus. He's powering up. Attempting ...,13,10,Ralphus,None,None,None,None,...,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True,19274,3416
20,888078434458587136,2017-07-20 16:49:33 +0000,This is Gerald. He was just told he didn't get...,12,10,Gerald,None,None,None,None,...,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True,21153,3364
21,887705289381826560,2017-07-19 16:06:48 +0000,This is Jeffrey. He has a monopoly on the pool...,13,10,Jeffrey,None,None,None,None,...,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True,29367,5195
23,887473957103951883,2017-07-19 00:47:34 +0000,This is Canela. She attempted some fancy porch...,13,10,Canela,None,None,None,None,...,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True,67006,17539
26,886983233522544640,2017-07-17 16:17:36 +0000,This is Maya. She's very shy. Rarely leaves he...,13,10,Maya,None,None,None,None,...,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False,34142,7501
27,886736880519319552,2017-07-16 23:58:41 +0000,This is Mingus. He's a wonderful father to his...,13,10,Mingus,None,None,None,None,...,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True,11704,3152
29,886366144734445568,2017-07-15 23:25:31 +0000,This is Roscoe. Another pupper fallen victim t...,12,10,Roscoe,None,None,pupper,None,...,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True,20593,3092
31,886258384151887873,2017-07-15 16:17:19 +0000,This is Waffles. His doggles are pupside down....,13,10,Waffles,None,None,None,None,...,0.943575,True,shower_cap,0.025286,False,Siamese_cat,0.002849,False,27219,6091
33,885984800019947520,2017-07-14 22:10:11 +0000,Viewer discretion advised. This is Jimbo. He w...,12,10,Jimbo,None,None,None,None,...,0.972494,True,Shih-Tzu,0.006630,True,Bernese_mountain_dog,0.006239,True,31686,6550
34,885528943205470208,2017-07-13 15:58:47 +0000,This is Maisey. She fell asleep mid-excavation...,13,10,Maisey,None,None,None,None,...,0.369275,True,Labrador_retriever,0.265835,True,kuvasz,0.134697,True,34976,6215
38,884925521741709313,2017-07-12 00:01:00 +0000,This is Earl. He found a hat. Nervous about wh...,12,10,Earl,None,None,None,None,...,0.259916,True,American_Staffordshire_terrier,0.198451,True,Staffordshire_bullterrier,0.127725,True,75163,17625
39,884876753390489601,2017-07-11 20:47:12 +0000,This is Lola. It's her first time outside. Mus...,13,10,Lola,None,None,None,None,...,0.822103,True,Norwich_terrier,0.106075,True,Norfolk_terrier,0.037348,True,27115,5427
40,884562892145688576,2017-07-11 00:00:02 +0000,This is Kevin. He's just so happy. 13/10 what ...,13,10,Kevin,None,None,None,None,...,0.546406,True,French_bulldog,0.404291,True,Brabancon_griffon,0.044002,True,23609,4526
43,884162670584377345,2017-07-09 21:29:42 +0000,Meet Yogi. He doesn't have any important dog m...,12,10,Yogi,doggo,None,None,None,...,0.707046,True,malinois,0.199396,True,Norwegian_elkhound,0.049148,True,19794,2883
44,883838122936631299,2017-07-09 00:00:04 +0000,This is Noah. He can't believe someone made th...,12,10,Noah,None,None,None,None,...,0.610946,True,miniature_pinscher,0.299603,True,kelpie,0.063020,True,21272,3331
45,883482846933004288,2017-07-08 00:28:19 +0000,This is Bella. She hopes her smile made you sm...,5,10,Bella,None,None,None,None,...,0.943082,True,Labrador_retriever,0.032409,True,kuvasz,0.005501,True,44623,9596
46,883360690899218434,2017-07-07 16:22:55 +0000,Meet Grizzwald. He may be the floofiest floofe...,13,10,Grizzwald,None,floofer,None,None,...,0.987997,True,Tibetan_mastiff,0.007099,True,Newfoundland,0.002140,True,22048,3587
48,882992080364220416,2017-07-06 15:58:11 +0000,This is Rusty. He wasn't ready for the first p...,13,10,Rusty,None,None,None,None,...,0.466778,True,Siberian_husky,0.406044,True,dingo,0.073414,False,23267,3796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283,667200525029539841,2015-11-19 04:39:35 +0000,This is Joshwa. He is a fuckboy supreme. He cl...,11,10,Joshwa,None,None,None,None,...,0.694904,True,malamute,0.232006,True,Eskimo_dog,0.050635,True,607,260
2286,667182792070062081,2015-11-19 03:29:07 +0000,This is Timison. He just told an awful joke bu...,10,10,Timison,None,None,None,None,...,0.949892,True,Irish_setter,0.010564,True,Chesapeake_Bay_retriever,0.005821,True,14245,6185
2287,667177989038297088,2015-11-19 03:10:02 +0000,This is a Dasani Kingfisher from Maine. His na...,8,10,a,None,None,None,None,...,0.259249,True,Chesapeake_Bay_retriever,0.176293,True,Weimaraner,0.112369,True,190,54
2289,667174963120574464,2015-11-19 02:58:01 +0000,This is Clarence. His face says he doesn't wan...,9,10,Clarence,None,None,None,None,...,0.266437,True,Chihuahua,0.243223,True,bluetick,0.072806,True,239,82
2290,667171260800061440,2015-11-19 02:43:18 +0000,Say hello to Kenneth. He likes Reese's Puffs. ...,10,10,Kenneth,None,None,None,None,...,0.841265,True,Lakeland_terrier,0.052744,True,Irish_water_spaniel,0.034402,True,219,88
2291,667165590075940865,2015-11-19 02:20:46 +0000,This is Churlie. AKA Fetty Woof. Lost eye savi...,10,10,Churlie,None,None,None,None,...,0.140173,True,Rottweiler,0.134094,True,beagle,0.081900,True,2668,1134
2292,667160273090932737,2015-11-19 01:59:39 +0000,This is Bradlay. He is a Ronaldinho Matsuyama ...,11,10,Bradlay,None,None,None,None,...,0.471351,True,miniature_poodle,0.091992,True,standard_poodle,0.087385,True,254,62
2293,667152164079423490,2015-11-19 01:27:25 +0000,This is Pipsy. He is a fluffball. Enjoys trave...,12,10,Pipsy,None,None,None,None,...,0.535411,True,Pomeranian,0.087544,True,miniature_poodle,0.062050,True,47347,16990
2295,667119796878725120,2015-11-18 23:18:48 +0000,This is Gabe. He is a southern Baklava. Gabe h...,10,10,Gabe,None,None,None,None,...,0.741563,True,Chihuahua,0.057866,True,toy_poodle,0.039125,True,327,127
2296,667090893657276420,2015-11-18 21:23:57 +0000,This is Clybe. He is an Anemone Valdez. One ea...,7,10,Clybe,None,None,None,None,...,0.959514,True,Italian_greyhound,0.005370,True,Pomeranian,0.002641,True,329,126
2297,667073648344346624,2015-11-18 20:15:26 +0000,Here is Dave. He is actually just a skinny leg...,10,10,Dave,None,None,None,None,...,0.483682,True,pug,0.092494,True,Brabancon_griffon,0.057495,True,398,122
2300,667062181243039745,2015-11-18 19:29:52 +0000,This is Keet. He is a Floridian Amukamara. Abs...,10,10,Keet,None,None,None,None,...,0.825678,True,vizsla,0.090998,True,kelpie,0.022956,True,215,54
2308,666817836334096384,2015-11-18 03:18:55 +0000,This is Jeph. He is a German Boston Shuttlecoc...,9,10,Jeph,None,None,None,None,...,0.496953,True,standard_schnauzer,0.285276,True,giant_schnauzer,0.073764,True,512,248
2309,666804364988780544,2015-11-18 02:25:23 +0000,This is Jockson. He is a Pinnacle Sagittarius....,8,10,Jockson,None,None,None,None,...,0.328792,True,Brittany_spaniel,0.283545,True,Ibizan_hound,0.057461,True,236,92
2311,666781792255496192,2015-11-18 00:55:42 +0000,This is a purebred Bacardi named Octaviath. Ca...,10,10,a,None,None,None,None,...,0.618316,True,Weimaraner,0.151363,True,vizsla,0.085989,True,380,189
2313,666739327293083650,2015-11-17 22:06:57 +0000,This is Lugan. He is a Bohemian Rhapsody. Very...,10,10,Lugan,None,None,None,None,...,0.546933,True,cocker_spaniel,0.165255,True,toy_poodle,0.095959,True,232,65
2314,666701168228331520,2015-11-17 19:35:19 +0000,This is a golden Buckminsterfullerene named Jo...,8,10,a,None,None,None,None,...,0.887707,True,Chihuahua,0.029307,True,French_bulldog,0.020756,True,425,216
2315,666691418707132416,2015-11-17 18:56:35 +0000,This is Christoper. He is a spotted Penne. Can...,8,10,Christoper,None,None,None,None,...,0.975401,True,beagle,0.008687,True,bloodhound,0.005394,True,186,47
2317,666644823164719104,2015-11-17 15:51:26 +0000,This is Jimothy. He is a Botwanian Gouda. Can ...,9,10,Jimothy,None,None,None,None,...,0.044333,True,Pembroke,0.043209,True,West_Highland_white_terrier,0.038906,True,228,79
2318,666454714377183233,2015-11-17 03:16:00 +0000,I'll name the dogs from now on. This is Kreggo...,10,10,Kreggory,None,None,None,None,...,0.278954,True,Labrador_retriever,0.237612,True,Great_Pyrenees,0.171106,True,510,207
2319,666447344410484738,2015-11-17 02:46:43 +0000,This is Scout. She is a black Downton Abbey. I...,9,10,Scout,None,None,None,None,...,0.322084,True,giant_schnauzer,0.287955,True,Labrador_retriever,0.166331,True,101,19
2325,666418789513326592,2015-11-17 00:53:15 +0000,This is Walter. He is an Alaskan Terrapin. Lov...,10,10,Walter,None,None,None,None,...,0.149680,True,papillon,0.148258,True,Chihuahua,0.142860,True,121,45
2327,666407126856765440,2015-11-17 00:06:54 +0000,This is a southern Vesuvius bumblegruff. Can d...,7,10,a,None,None,None,None,...,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True,105,38
2345,666063827256086533,2015-11-16 01:22:45 +0000,This is the happiest dog you will ever see. Ve...,10,10,the,None,None,None,None,...,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True,461,212
2346,666058600524156928,2015-11-16 01:01:59 +0000,Here is the Rand Paul of retrievers folks! He'...,8,10,the,None,None,None,None,...,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True,109,57
2348,666055525042405380,2015-11-16 00:49:46 +0000,Here is a Siberian heavily armored polar bear ...,10,10,a,None,None,None,None,...,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False,426,235
2350,666050758794694657,2015-11-16 00:30:50 +0000,This is a truly beautiful English Wilson Staff...,10,10,a,None,None,None,None,...,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True,130,57
2352,666044226329800704,2015-11-16 00:04:52 +0000,This is a purebred Piers Morgan. Loves to Netf...,6,10,a,None,None,None,None,...,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,289,136
2353,666033412701032449,2015-11-15 23:21:54 +0000,Here is a very happy pup. Big fan of well-main...,9,10,a,None,None,None,None,...,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,121,43
2354,666029285002620928,2015-11-15 23:05:30 +0000,This is a western brown Mitsubishi terrier. Up...,7,10,a,None,None,None,None,...,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,125,46

In [494]:
joined_df.columns

Index(['tweet_id', 'timestamp', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf',
       'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'favorite_count', 'retweet_count'],
      dtype='object')

In [495]:
joined_df.to_csv('../data/cleaned_tweets.csv', index=False)